language: android
android:
        components:
                - platform-tools
                - build-tools-25.0.2
                - android-25
                - extra-android-m2repository
script:
        - ./gradlew build
before_install:
        - chmod +x gradlew
branches:
        only:
                - master
jdk:
  - oraclejdk8
licenses:
          - 'android-sdk-preview-license-.+'
          - 'android-sdk-license-.+'
          - 'google-gdk-license-.+'